.edu-cont1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  border-radius: 25px;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.158);
  /* margin: 10px 0;  */
}
.edu-cont1 h2 {
  padding: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #000000;
  margin-bottom: 5px;
  background-color: transparent;
  /* border: 1px solid; */
}

.line {
  color: #071952;
  width: 7.6%;
  border-bottom: 3px dashed;
}

.edu-cont2 {
  /* border: 1px solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 25px;
}
.edu-content {
  /* border: 1px solid; */
  width: 150px;
  height: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px;
  border-radius: 25px;
  background-color: #eeeeee;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 15px;
}

.edu-content h3 {
  font-family: "Forum", cursive;
  font-size: 20px;
  color: #222831;
}
.edu-content p {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 13px;
}

.round-edu {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background-color: #393e46;
  color: aliceblue;
  transition: 0.3s ease-in;
}
.round-edu:hover {
  background-color: #f1fff1;
  transition: 0.3s ease-out;
  color: #393e46;
}
.link{
    text-decoration: none;
}

@media (max-width: 786px) {
  .edu-cont1 {
    height: 100%;
  }
  .edu-cont2 {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column;
    height: 100%;
  }
  .line {
    border-left: 2px solid;
    height: 50px;
    border-bottom: none;
    width: 0;
  }
}
