.edu-cont1 {
  border: 1px dashed var(--dark3);
  border-radius: 30px;
  margin: 10px 0px;
  height: 40vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.edu-cont1 h2 {
  /* border: 1px solid; */
  padding: 5px;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 27px;
  font-weight: 400;
  color: var(--dark2);
  background-color: transparent;
}

.line {
  color: #071952;
  width: 7.6%;
  border-bottom: 3px dashed;
}

.edu-cont2 {
  /* border: 1px solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 25px;
  padding-bottom: 10px;
}
.edu-content {
  /* border: 1px solid; */
  width: 150px;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px;
  border-radius: 10px;
  border: 1px dashed var(--dark3);
}

.edu-content h3 {
  font-family: "Forum", cursive;
  font-size: 20px;
  color: #222831;
}
.edu-content p {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 13px;
}

.round-edu {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background-color: var(--dark2);
  color: var(--skyblue);
  transition: 0.3s ease-in;
}
.round-edu:hover {
  background-color: var(--back);
  transition: 0.3s ease-out;
  color: var(--dark2);
}
.link {
  text-decoration: none;
}

hr{
  margin: 15px 0px;
  width: 100%;
}

@media (max-width: 786px) {
  .edu-cont1 {
    height: 100%;
    min-width: 90vw;

  }
  .edu-cont2 {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column;
    height: 100%;
  }
  .line {
    border-left: 2px dashed;
    height: 50px;
    border-bottom: none;
    width: 0;
  }
}
