.port-grid-cont {
  border: 1px solid rgba(0, 0, 0, 0.158);
  border-radius: 25px;
  height: 100%;
  margin: 5px 0;
}
.title-cont {
  /* border: 1px solid; */
  padding: 10px;
}
.title-cont h2 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #000000;
}
.title-cont p {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #000000;
}

.grid-card-cont {
  /* border: 1px solid; */
  height: 100%;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 15px;
}

.card {
  border: 1px solid rgba(0, 0, 0, 0.158);
  box-shadow: rgba(0, 0, 0, 0.301) 0px 5px 15px;
  border-radius: 25px;
  height: 450px;
  overflow: hidden;
  transition: 0.3s ease-out;
  /* z-index: -1; */
}

.card:hover {
  transform: scale(1.02);
  transition: 0.3s ease-in;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.card img {
  min-width: 100%;
  max-width: 100%;
  min-height: 70%;
  max-height: 70%;
}

.card-content {
  /* border: 1px solid; */
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}

.card-content h3 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.card-content p {
  font-family: "Poppins", sans-serif;
  text-align: justify;
  font-size: 15px;
}

.card-icon {
  /* border: 1px solid; */
  padding-right: 20px;
  display: flex;
  gap: 10px;
  justify-content: end;
  align-items: center;
}
.icon-set {
  /* border: 1px solid; */
  display: flex;
  align-items: center;
  padding: 0px 5px;
  gap: 5px;
  transition: 0.3s ease-in-out;

}
.icon-set:hover{
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}
.icon-set i {
  font-size: 25px;
}

.icon-set .link {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.linkbtn{
  /* border: 1px solid; */
  align-self: center;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-size: 14px;
  padding: 5px;
  /* color: black; */
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.267);
}

.relative {
  position: relative;
}
.but-cont {
  /* border: 1px solid; */
  display: flex;
  justify-content: center;
  padding: 10px;
}

.hasttag {
  position: absolute;
  bottom: 110px;
  right: 15px;
  background-color: #00000075;
  border-radius: 50%;
  font-size: 35px;
  color: aliceblue;
  padding: 5px;
  font-style: italic;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

}

@media (max-width: 786px) {
  .grid-card-cont {
    grid-template-columns: repeat(1, 1fr);
  }
  .card {
    height: 370px;
    border-radius: 25px;
  }

  .card img {
    min-width: 100%;
    max-width: 100%;
    min-height: 50%;
    max-height: 50%;
  }
  .card-content {
    gap: 9px;
  }
  
  .card-content h3 {
    font-family: "Poppins", sans-serif;
    font-size: 22px;
  }
  
  .card-content p {
    font-family: "Poppins", sans-serif;
    text-align: justify;
    font-size: 16px;
  }
  .card-icon {
    padding-right: 10px;
    display: flex;

    gap: 10px;
    justify-content: center;
  }
  .hasttag{
    right: 10px;
    bottom: 160px;
  }
}



         
