.port-grid-cont {
  border: 1px dashed var(--dark3);
  border-radius: 30px;
  height: 100%;
  margin: 10px 0;
}
.title-cont {
  /* border: 1px solid; */
  padding: 10px;
}
.title-cont h2 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: var(--dark2);
}
.title-cont p {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: var(--dark3);
}

.grid-card-cont {
  /* border: 1px solid; */
  height: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 20px;
}

.card {
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  height: 450px;
  overflow: hidden;
  transition: 0.3s ease-out;
  border: 1px dashed transparent;
  /* z-index: -1; */
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card:hover {
  transform: scale(1.02);
  transition: 0.3s ease-in;
  box-shadow: var(--dark3) 0px 22px 70px 4px;
  border: 1px dashed var(--dark2);
}

.card img {
  min-width: 100%;
  max-width: 100%;
  min-height: 70%;
  max-height: 70%;
}

.card-content {
  /* border: 1px solid; */
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}

.card-content h3 {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  text-transform: capitalize;
  color: var(--dark2);
}

.card-content p {
  font-family: "Poppins", sans-serif;
  text-align: justify;
  font-size: 15px;
  color: var(--dark3);
}

.card-icon {
  /* border: 1px solid; */
  max-height: 50px;
  /* padding-right: 20px; */
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.icon-set {
  /* border: 1px solid; */
  display: flex;
  align-items: center;
  padding: 0px 5px;
  gap: 5px;
  transition: 0.3s ease-in-out;
}
.icon-set:hover {
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}
.icon-set i {
  font-size: 25px;
}

.icon-set .link {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.linkbtn {
  /* border: 1px solid; */
  align-self: center;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-size: 14px;
  padding: 5px;
  /* color: black; */
  border-radius: 5px;
  background-color: var(--dark2);
}

.relative {
  position: relative;
}
.but-cont {
  /* border: 1px solid; */
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-bottom: 5px;
}

.hasttag {
  position: absolute;
  bottom: 110px;
  right: 15px;
  background-color: var(--orange);
  border-radius: 30%;
  font-size: 35px;
  color: var(--back2);
  padding: 5px;
  font-style: italic;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

@media (max-width: 786px) {
  .port-grid-cont{
    min-width: 90vw;

  }
  .grid-card-cont {
    grid-template-columns: repeat(1, 1fr);
  }
  .card {
    height: 400px;
    border-radius: 25px;
  }

  .card img {
    min-width: 100%;
    max-width: 100%;
    min-height: 50%;
    max-height: 50%;
  }
  .card-content {
    gap: 9px;
  }

  .card-content h3 {
    font-family: "Poppins", sans-serif;
    font-size: 22px;
  }

  .card-content p {
    font-family: "Poppins", sans-serif;
    text-align: justify;
    font-size: 16px;
  }
  .card-icon {
    padding: 0;
    /* border: 1px solid; */
    margin-top: 10px;
    display: flex;
    /* gap: px; */
    justify-content: center;
  }
  .icon-set {
    /* border: 1px solid; */
    margin: 0;
  }
  .btn-grad {
    margin: 0;
  }
  .hasttag {
    right: 10px;
    bottom: 160px;
  }
}
