.port-grid-cont {
  border: 1px dashed var(--dark3);
  border-radius: 30px;
  height: 100%;
  margin: 10px 0;
}
.title-cont {
  /* border: 1px solid; */
  padding: 10px;
}
.title-cont h2 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: var(--dark2);
}
.title-cont p {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: var(--dark3);
}

.grid-card-cont {
  /* border: 1px solid; */
  height: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 20px;
}

.card {
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  height: 450px;
  overflow: hidden;
  transition: 0.3s ease-out;
  border: 1px dashed transparent;
  /* z-index: -1; */
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card:hover {
  transform: scale(1.02);
  transition: 0.3s ease-in;
}

.card img {
  min-width: 100%;
  max-width: 100%;
  min-height: 70%;
  max-height: 70%;
}

.card-content {
  /* border: 1px solid; */
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}

.card-content h3 {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  text-transform: capitalize;
  color: var(--dark2);
}

.card-content p {
  font-family: "Poppins", sans-serif;
  text-align: justify;
  font-size: 15px;
  color: var(--dark3);
}

.card-icon {
  /* border: 1px solid; */
  display: flex;
  max-height: 7vh;
  justify-content: center;
}
.icon-set {
  /* border: 1px solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 7vh;
}

.icon-set i {
  font-size: 25px !important;
  transition: 0.3s ease-in-out;
}
.icon-set i:hover {
  color: green;
  transition: 0.3s ease-in-out;
}

.padd-r {
  /* border: 1px solid; */
  padding-bottom: 0px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
}
.icon-btn {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.411);
  color: black;
  font-size: 17px;
  padding: 3px 7px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: 0.2s ease-in-out;

}
.icon-btn:hover {
  background-color: black;
  color: white;
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
}

.linkbtn {
  /* border: 1px solid; */
  align-self: center;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-size: 14px;
  padding: 5px;
  /* color: black; */
  border-radius: 5px;
  background-color: var(--dark2);
}

.relative {
  position: relative;
}
.but-cont {
  /* border: 1px solid; */
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-bottom: 5px;
}

.hasttag {
  position: absolute;
  bottom: 110px;
  right: 15px;
  background-color: var(--orange);
  border-radius: 30%;
  font-size: 35px;
  color: var(--back2);
  padding: 5px;
  font-style: italic;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

@media (max-width: 786px) {
  .port-grid-cont {
    min-width: 90vw;
  }
  .grid-card-cont {
    grid-template-columns: repeat(1, 1fr);
  }
  .card {
    height: 400px;
    border-radius: 25px;
    /* border: 1px solid; */
    min-height: 55vh;
    max-height: 55vh;
  }

  .card img {
    min-width: 100%;
    max-width: 100%;
    min-height: 50%;
    max-height: 50%;
  }
  .card-content {
    /* border: 1px solid; */
    gap: 5px;
    min-height: 28vh;
    max-height: 20vh;
  }

  .card-content h3 {
    /* border: 1px solid; */
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    max-height: 8vh;
    min-height: 8vh;
  }

  .card-content p {
    /* border: 1px solid; */
    font-family: "Poppins", sans-serif;
    text-align: left;
    font-size: 16px;
    max-height: 11vh;
    min-height: 11vh;
    overflow: hidden;
  }
  .card-icon {
    /* border: 1px solid; */
    padding: 0;
    display: flex;
    /* gap: px; */
    justify-content: center;
  }
  .icon-set {
    /* border: 1px solid; */
    margin: 0;
  }
  .icon-set2 {
    /* border: 1px solid ; */
    font-size: 30px;
  }
  .btn-grad {
    margin: 0;
  }
  .hasttag {
    right: 5px;
    bottom: 27vh;
  }
}

/* @media (min-width: 787px) and (max-width: 1006px) {
  .card {
    min-height: 520px;
    width: 100%;
  }
} */
