.sticky {
  position: sticky;
  top: 0px;
  background-color: #f1fff1;
  /* border: 1px solid; */
  width: 100vw;
  display: flex;
  justify-content: center;
}

.Nav-Cont {
  width: 85vw;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid; */
}

/* Left Side`----------- */
.nav-left h5 {
  font-family: "Great Vibes", cursive;
  padding: 5px;
  font-size: 35px;
}

/* middle Side`----------- */
.nav-middle {
  /* border: 1px solid; */
  display: flex;
  align-self: center;
  background-color: rgba(0, 0, 0, 0.089);
  padding: 5px;
  border-radius: 15px;
}
.nav-middle ul {
  display: flex;
  gap: 20px;
}
.nav-middle ul li {
  list-style: none;
  padding: 5px;
  font-size: 22px;
}
.nav-middle ul li:hover {
  transform: scale(1.2);
  transition: 0.3s ease-in;
}

/* Right Side`----------- */
.nav-right {
  display: flex;
  gap: 20px;
  align-items: center;
  /* border: 1px solid black; */
  font-size: 18px;
}

.nav-right ul {
  display: flex;
  gap: 20px;
}
.link {
  text-decoration: none;
  color: black;
}

.nav-right ul .link {
  text-decoration: none;
  list-style: none;
  color: var(--primary);
  padding: 5px;
  border-bottom: 2px solid transparent;
}
.nav-right ul .link:hover {
  list-style: none;
  color: black;
  border-bottom: 2px solid orangered;
  transition: 0.3s ease-in-out;
}

/* Mobile Styling-------- */

.Nav-mobile {
  display: none;
}
.mobile-menu {
  display: none;
}
@media (max-width: 750px) {
  .Nav-Cont {
    display: none;
  }
  .Nav-mobile {
    display: flex;
    justify-content: center;
    max-width: 100vw;
    min-width: 100vw;
    transition: none !important;
  }
  .mobile-menu {
    display: flex;
  }
}

/* Mobile Nav Css------- */

.inner {
  /* border: 1px solid; */
  position: fixed;
  bottom: 5px;
  width: 95vw;
  min-height: 9vh;
  /* background-color: #f6f4eb; */
backdrop-filter: blur(15px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 2;
}

/* Left Side`----------- */
.mobile-left {
  align-self: center;
}
.mobile-left h5 {
  font-family: "Great Vibes", cursive;
  padding: 5px;
  font-size: 27px;
  font-weight: 300;
  color: #071952;
}

/* middle Side`----------- */
.mobile-middle {
  /* border: 1px solid; */
  display: flex;
  align-self: center;
  padding: 5px;
  border-radius: 15px;
}
.mobile-middle ul {
  display: flex;
  gap: 13px;
}
.mobile-middle ul li {
  list-style: none;
  padding: 5px;
  font-size: 20px;
}
.mobile-middle ul li:hover {
  transform: scale(1.2);
  transition: 0.3s ease-in;
}

.menu-button {
  font-size: 20px;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

.menu-button:hover {
  color: rgb(2, 0, 122);
  transition: 0.3s ease-in;
}

.mobile-menu {
  /* border: 1px solid; */
  position: fixed;
  bottom: 60px;
  
  width: 100vw;
  height: 60px;
  transition: 0.3s ease-in;
  border-radius: 15px;
  padding: 5px;
  display: flex;
  justify-content: center;
  z-index: 2;
}
.mobile-close {
  position: fixed;
  bottom: -70px;
  width: 96%;
  height: 60px;
  border: none;
  display: flex;
  justify-content: center;
  transition: 0.3s ease-out;
}

.mobile-menu-cont {
  /* border: 1px solid ; */
  width: 96%;
  min-height: 8vh;
  display: flex;
  gap: 15px;
  justify-content: space-evenly;
  padding-top: 15px;
  background-color: #071952;
  border-radius: 10px;
  transition: 0.4s ease-in;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.mobile-menu-cont i {
  font-size: 25px;
}
