.main-about {
  max-width: 100vw;
  display: flex;
  justify-content: center;
}

.about-cont {
  border: 1px dashed var(--dark3);
  margin: 10px 0px;
  padding: 20px;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  border-radius: 30px;
}
.about-cont h2 {
  padding: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 27px;
  font-weight: 400;
  color: var(--dark2);
}
.about-cont p {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  text-align: justify;
  margin-bottom: 10px;
  color: var(--dark3);

}

@media (max-width: 786px) {
  .about-cont {
    height: 100%;
    min-width: 90vw;
  }
}
