/* FontFamily Import GoogleFont------------ */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Forum&family=Great+Vibes&family=Lora:ital@0;1&family=Poppins:wght@300&display=swap");

/* font-family: 'Forum', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Lora', serif;
font-family: 'Poppins', sans-serif; 
font-family: 'Bebas Neue', sans-serif;
*/

/* Colors----------------------------------- */
:root {
  --primary: #1f3e72;
  --secondary: rgba(255, 255, 255, 0.78);
  --black: #131110;
  --blue-gradient: linear-gradient(97.05deg, #4066ff 3.76%, #2949c6 100%);
  --orange-gradient: linear-gradient(270deg, #ffb978 0%, #ff922d 100%);
  --blue: #4066ff;
  --lightBlue: #eeeeff;
  --shadow: 0px 23px 21px -8px rgba(136, 160, 255, 0.25);
}
/* ------------------- */
::-webkit-scrollbar {
  display: none;
}



html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/* ------------------- */
body {
  /* background-color: #161853; */

  background: #abbaab;  
  background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  
  background: linear-gradient(to right, #ffffff, #abbaab); 


  /* background: #FFEEEE;  
background: -webkit-linear-gradient(to right, #DDEFBB, #FFEEEE);  
background: linear-gradient(to right, #DDEFBB, #FFEEEE); 
  */
  
  
  
  
  





  /* Default Font Family */
  font-family: "Lora", serif;
  display: flex;
  justify-content: center;
  width: 100%;
  /* border: 1px solid; */
}

/* ------------------------Reusable Css ------------------------- */
.width-100c {
  min-width: 100vw;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  /* border: 1px solid; */
}
.width-85 {
  min-width: 85vw;
  max-width: 85vw;
  /* border: 1px solid red; */
}

/* Buttons */
.blackbutton {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 300;
  padding: 8px;
  border-radius: 8px;
  border: none;
  background-color: var(--black);
  color: whitesmoke;
  border: 1px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  text-decoration: none;
  transition: 0.3s ease-in;
}

.blackbutton:hover {
  font-size: 18px;
  transform: scale(1.08);
  transition: 0.3s ease-out;
}

.white-button {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 300;
  padding: 8px;
  border-radius: 8px;
  background-color: #b1e693;
  color: #252b48;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  text-decoration: none;
  transition: 0.3s ease-in;
}

.white-button:hover {
  font-size: 18px;
  transform: scale(1.08);
  transition: 0.3s ease-out;
}

         
         
.btn-grad {
  background-image: linear-gradient(to right, #141E30 0%, #243B55  51%, #141E30  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}


