/* FontFamily Import GoogleFont------------ */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Forum&family=Great+Vibes&family=Lora:ital@0;1&family=Poppins:wght@300&display=swap");

/* font-family: 'Forum', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Poppins', sans-serif; 
font-family: 'Bebas Neue', sans-serif;
*/

/* Colors----------------------------------- */
:root {
  --back: #f4f4f4;
  --dark1: #3a3535;
  --dark2: #232020;
  --dark3: #494b67;
  --orange: #ff7315;
  --skyblue: #d5f7ff;
  --pink: #ff006c;
  --back2: #ecebff;
}
/* ------------------- */
::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/* ------------------- */
body {
  background-color: #f4f4f4;

  /* Default Font Family */
  font-family: "Forum", cursive;
  display: flex;
  justify-content: center;
  width: 100%;
  /* border: 1px solid; */
}

/* ------------------------Reusable Css ------------------------- */
.width-100c {
  min-width: 100vw;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  /* border: 1px solid; */
}
.width-85 {
  min-width: 85vw;
  max-width: 85vw;
  /* border: 1px solid red; */
}

/* Buttons */
.blackbutton {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 300;
  padding: 8px;
  border-radius: 8px;
  border: none;
  background-color: var(--pink);
  color: whitesmoke;
  border: 1px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  text-decoration: none;
  transition: 0.3s ease-in;
}

.blackbutton:hover {
  font-size: 18px;
  transform: scale(1.08);
  transition: 0.3s ease-out;
}

.white-button {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 300;
  padding: 8px;
  border-radius: 8px;
  background-color: var(--dark2);
  color: whitesmoke;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  text-decoration: none;
  transition: 0.3s ease-in;
}

.white-button:hover {
  font-size: 18px;
  transform: scale(1.08);
  transition: 0.3s ease-out;
}

.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  text-transform: capitalize;
}

.btn-grad:hover {
  background-color: transparent;
  color: var(--dark2);
  text-decoration: none;
  transform: scale(1.05);
  border: 1px dashed var(--dark2);
  transition: 0.3s ease-out;
}
