.Hero-cont {
  /* border: 1px solid; */
  width: 100%;
  height: 65vh;
  display: flex;
  justify-content: center;
  margin: 10px 0px;
}
.Common-width {
  /* border: 1px solid red; */
  display: flex;
}

.image {
  /* border: 1px solid; */
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(/particle.png);
  background-size: cover;
}
.image h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 200px;
  margin-bottom: -20px;
  /* border: 1px solid; */
  color: var(--orange);
}
.image h3 {
  /* border: 1px solid; */
  font-family: "Bebas Neue", sans-serif;
  font-size: 210px;
  margin-top: -70px;
  color: var(--dark2);
}

/* Content Section Design  */
.content-hero {
  /* border: 1px solid green; */
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding-left: 20px;
}
.content-hero h4 {
  /* border: 1px solid ; */
  font-family: "Poppins", sans-serif;
  width: 27%;
  padding: 5px;
  font-size: 18px;
  color: var(--dark2);
  font-weight: 300;
  border-radius: 5px;
  border: 1px dashed var(--dark3);
}
.content-hero h2 {
  font-size: 40px;
  line-height: 1.5;
  font-weight: 500;
  font-family: "Forum", cursive;
  text-align: justify;
}
.content-hero h2 span {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  background-color: #f8de22;
  margin-left: 3px;
  padding: 0 5px;
  border-radius: 5px;
  letter-spacing: 2px;
  font-weight: 300;
}
.content-hero p {
  margin-top: -7px;
  font-family: "Poppins", sans-serif;
  text-align: justify;
}
.hero-buttons {
  display: flex;
  gap: 15px;
}

@media (max-width: 1006px) {
  .Hero-cont {
    /* border: 1px solid; */
    max-width: 100vw;
    height: 620px;
  }
  .Common-width {
    /* border: 1px solid red; */
    min-width: 90vw;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .image {
    width: 100%;
    max-height: 250px;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
  }
  .image h2 {
    font-size: 140px;
    margin-bottom: -20px;
    /* border: 1px solid; */
  }
  .image h3 {
    font-size: 140px;
    margin-top: -50px;
  }
  .content-hero {
    padding-left: 0px;
    min-width: 100%;
    max-height: 350px;
    /* border: 1px solid green; */
    display: flex !important;
    justify-content: start !important;
  }
  .content-hero h4 {
    font-family: "Poppins", sans-serif;
    min-width: 100%;
    border-radius: 2px !important;
    text-align: center;
    /* font-size: 15px !important; */
    border-radius: 15px !important;
  }
  .content-hero h2 {
    margin-top: -8px;
    font-size: 26px !important;
    font-weight: 500;
    text-align: center !important;
  }
  .content-hero h2 span {
    font-size: 25px !important;
  }
  .content-hero p {
    margin-top: -9px !important;
    font-size: 15px !important;
    text-align: justify;
  }
  .hero-buttons {
    display: flex;
    justify-content: center;
    gap: 10px !important;
  }
}

@media(width:414px){
  .Hero-cont {
    /* border: 1px solid; */
    max-width: 100vw;
    height: 570px;
  }
}



