.tech2-cont {
  /* border: 1px solid ; */
  width: 100%;
  height: 210px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: rgb(0, 0, 0) 0px 5px 15px;
}
.tec2-left {
  /* border: 1px solid red; */
  width: 70%;
  height: 100%;
  background-color: #272829;
  padding-left: 10px;
}

.tec2-right {
  background-image: url(/par1.png);
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
  /* border: 1px solid green; */
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5px;
}
.tec2-right h2 {
  font-family: "Bebas Neue", sans-serif;
  margin-bottom: -50px;
  font-size: 100px;
}
.tec2-right h3 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 110px;
  color: #FFB400;
}
.node {
  border: 5px solid black;
  box-shadow: rgb(20, 245, 20) 0px 5px 15px;
}
.express {
  border: 5px solid black;
  box-shadow: rgb(255, 255, 255) 0px 5px 15px;
}
.mongo {
  border: 5px solid black;
  box-shadow: rgb(13, 240, 88) 0px 5px 15px;
}
.sql {
    border: 5px solid black;
    box-shadow: rgb(28, 51, 252) 0px 5px 15px;
  }
  .jwt {
    border: 5px solid black;
    box-shadow: rgb(255, 51, 51) 0px 5px 15px;
  }
  .prisma {
    height: 104px;
    border: 5px solid black;
    box-shadow: darkblue 0px 5px 15px;
  }

@media(max-width:786px){
.tech2-cont{
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 10px 0;
}
.tec2-left{
    padding: 10px;
    max-height: 30%;
    width: 100%;
}

.tec2-right{
    width: 100%;
}

}